<div class="four columns clearfix">
  <ul id="items">
    <% @feed['items'].each do |item| %>
          <li><a class="item" href="/<%= item['key'] %>"><%= item['title'] %></a></li>
    <% end %>
  </ul>
</div>
<div class="eight columns clearfix">
  <div id="itemDetail">

  </div>
</div>
<script type="text/javascript">
    $(function() {
        $(".item").click(function() {
            $.ajax({
                url: $(this).attr('href')
            }).done(function(data) {
                $("#itemDetail").html(data['@content']);
            });

            return false;
        });
    });
</script>





