<div class="leftside">
    <ul>
        <% @docs.each do |doc| %>
            <li><a onclick="javascript:showRight('<%= doc.key %>');return false;" href="#"><%= doc.title %></a></li>
        <% end %>
    </ul>
</div>

<% @docs.each do |doc| %>
    <div id="<%= doc.key %>" class="rightside">
      <%= doc.content.encode("UTF-8") %>
    </div>
<% end %>

