<div class="box panel">
  <div class='description'>
    <p class='description_content'>
      <a href="#" target="_blank">Loading...</a>
    </p>
  </div>
  <a href="#" target="_blank"><img src="/images/loading_cat.gif"/></a>
</div>
