<div id="wrap">
    <div class="topbar">
      <div class="name">
        <img class="logo" style="padding-right: 0px;" src="/images/logo_img.png">
        <img class="web" style="padding-left: 0px;" src="/images/logo_text.png">
      </div>
      <div class="divider"></div>
      <div class="tag">
        <dl class="sub-nav">
          <dd class="active"><a data-section="hot" href="#">hot</a></dd>
          <dd><a data-section="new" href="#">new</a></dd>
          <dd class="web"><a data-section="controversial" href="#">controversial</a></dd>
          <dd><a data-section="top" href="#">top</a></dd>
        </dl>
      </div>
      <div class="divider"></div>
      <div class="web facts">
        <strong>Did you know?</strong> You can click on the title of the story to see top comments from reddit
      </div>
      <div class="subreddits">
        <select id="selSubreddit">
          <option value="front">front page</option>
          <option value="funny">funny</option>
          <option value="pics">pics</option>
          <option value="wtf">wtf</option>
          <option value="gifs">gifs</option>
          <option value="woahdude">woahdude</option>
          <option value="1000words">1000words</option>
          <option value="itookapicture">itookapicture</option>
          <option value="earthporn">earthporn</option>
          <option value="cityporn">cityporn</option>
          <option value="agricultureporn">agricultureporn</option>
          <option value="aww">aww</option>
          <option value="comics">comics</option>
          <option value="videos">videos</option>
          <option value="science">science</option>
          <option value="politics">politics</option>
          <option value="worldnews">worldnews</option>
          <option value="technology">technology</option>
          <option value="askreddit">askreddit</option>
          <option value="iama">iama</option>
          <option value="todayilearned">TIL</option>
        </select>
      </div>
    </div>
    <div class="notification" id="notification" style="display: none">
        <div class="msg">This site is also available in the Chrome Web Store. Try it out!</div>
        <div class="actions"><a href="#" id="add-to-chrome" class="btn">Add To Chrome</a>
        <a href="#" id="dismiss-notification" class="dismiss-btn">Dismiss</a></div>
    </div>
    <div id="container">

    </div>
</div>
<footer class="row" style="width: 100%;margin-top: 15px;">
    <div class="twelve columns centered" style="text-align: center; display: block;width: 100%;clear: both">
      <a id="load-more" href="#" class="large secondary button">Load More</a>
    </div>
  <div class="twelve columns" style="background-color: #000;padding: 15px 10px 15px 10px;color: #666;margin-top: 10px">
    Built by <a href="http://jes.al" target="_blank">Jesal Gadhia</a><span class="web"> // This site is not owned, operated, sponsored, endorsed, or affiliated by Reddit in any way. All content shown is provided by Reddit API. ruddl is merely a different interface to browse Reddit.</span>
  </div>
</footer>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//documentcloud.github.com/underscore/underscore-min.js"></script>
<script src="//documentcloud.github.com/backbone/backbone-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/2.1.04/jquery.masonry.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/URI.js/1.7.2/URI.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.rc.1/handlebars.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.1.0/jquery.timeago.min.js"></script>
<script src="//js.pusher.com/2.0/pusher.min.js"></script>
<script src="/javascripts/jquery.pnotify.min.js"></script>
<script src="/javascripts/add2home.js"></script>
<script type="text/javascript" src="/app.js"></script>
<script id="ruddl-story-template" type="text/x-handlebars-template">
  <div id="{{key}}" class="box panel">
    <div class='description'>
      <div class='description_content'>
        <a title="Show Top Comments" class="premalink" href="{{premalink}}" data-id="{{key}}" target="_blank">{{{title}}}</a>
      </div>
      <div class='icon'>
        <img src="http://g.etfv.co/{{link}}" width="16" height="16" />
      </div>
    </div>
    <div class="comments"></div>
    <div class="content">
      {{#if image}}
      <a href="{{link}}" target="_blank"><img class="lazy" src="{{image_url image}}"/></a>
      {{else}}
      {{{text}}}
      {{/if}}
    </div>
  </div>
</script>
<script id="ruddl-comment-template" type="text/x-handlebars-template">
  {{#each .}}
      <div class="comment">
        <p class="tagline">
          <a target="_blank" href="http://www.reddit.com/user/{{author}}" class="author">{{author}}</a>
          <span class="points">{{points}} points</span><span class="time">{{date_format created_utc}}</span>
        </p>
        {{{body_html}}}
        <a target="_blank" class="permalink" href="{{permalink}}">permalink</a>
      </div>
  {{/each}}
  {{#unless .}}
      <div class="comment">
        No comments (yet)...
      </div>
  {{/unless}}
</script>
<script id="ruddl-ad-template" type="text/x-handlebars-template">
  <div id="ad" class="box panel web">
    <div class='description'>
      <div class='description_content'>
        <small class="premalink">A D V E R T I S E M E N T</small>
      </div>
      <div class='icon'>
        <img src="http://g.etfv.co/http://www.ruddl.com" width="16" height="16" />
      </div>
    </div>
    <div class="content" style="text-align:center;padding:5px;">
         {{{inject "#ad_unit"}}}
    </div>
  </div>
</script>
<script id="ruddl-fact-template" type="text/x-handlebars-template">
  <strong>Did you know?</strong>
  {{#each .}}
    <span class="fact">{{{fact}}}</span>
  {{/each}}
</script>
<div id="ad_unit" style="display: none">
  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-7407025789001528";
  /* ruddl_live */
  google_ad_slot = "7768746886";
  google_ad_width = 336;
  google_ad_height = 280;
  //-->
  </script>
  <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
</div>