<div class="twelve columns clearfix">
  <div id="container">
      <% @ruddl.each do |doc| %>
        <div class="box panel">
            <img src="<%= doc.image %>"/>
            <div class='description'>
            <p class='description_content'>
              <a href="<%= doc.link %>" target="_blank"><%= doc.title %></a>
            </p>
            <a href="<%= doc.premalink %>" target="_blank" class="description_icons">e</a>
          </div>
        </div>
      <% end %>
  </div>
</div>