<div class="twelve columns clearfix">
  <div id="container">
      <% @ruddl.each do |doc| %>
        <div class="box">
            <img width="400px" src="<%= doc.image %>"/>
            <div class='description'>
                <p class='description_content'>
                  <a href="<%= doc.link %>" target="_blank"><%= doc.title %></a>
                </p>
            </div>
        </div>
      <% end %>
  </div>
</div>
