<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <meta name="apple-mobile-web-app-title" content="ruddl">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon-144x144.png">

  <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/llpknfhbmlngapjlboenfmmeminfdpil">

  <title>ruddl | reddit redefined!</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <meta name="description" content="ruddl will make your reddit browsing experience more enjoyable. It will show you all the images or content from the post and their top comments right on the page. You can also browse other popular subreddits. It is also mobile friendly so you can get your reddit fix when you are on the go.">
  <meta name="keywords" content="reddit,social,images,viewer,meme,TIL,IAMA,funny,gifs,news,videos,cute">

  <meta property="og:url" content="http://www.ruddl.com/" />
  <meta property="og:site_name" content="ruddl" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="ruddl | reddit redefined!" />
  <meta property="og:image" content="http://www.ruddl.com/images/fb_logo.png" />
  <meta property="og:description" content="ruddl will make your reddit browsing experience more enjoyable. It will show you all the images or content from the post and their top comments right on the page. You can also browse other popular subreddits. It is also mobile friendly so you can get your reddit fix when you are on the go." />

  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="stylesheets/foundation.min.css">
  <link rel="stylesheet" href="stylesheets/app.css">
  <link rel="stylesheet" href="stylesheets/jquery.pnotify.default.css">
  <link rel="stylesheet" href="stylesheets/jquery.pnotify.default.icons.css">
  <link rel="stylesheet" href="stylesheets/add2home.css">
  <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
  <!--[if IE 7]>
  <link rel="stylesheet" href="stylesheets/font-awesome-ie7.min.css">
  <![endif]-->

  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
  <![endif]-->

  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35676845-1']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>
  <!-- start Mixpanel -->
  <script type="text/javascript">
    (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
    typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
    b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
    mixpanel.init("e25e11bfb4edd71e2c389d56c814e0ed");
  </script>
  <!-- end Mixpanel -->
</head>
<body>
    <%= yield %>
</body>
</html>

