<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>ruddl | reddit redefined!</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <meta name="description" content="Better way to experience reddit">
  <meta name="keywords" content="reddit,social,images,viewer,meme,TIL,IAMA,funny,gifs,news,videos,cute">

  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="stylesheets/foundation.min.css">
  <link rel="stylesheet" href="stylesheets/app.css">

  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
  <![endif]-->

  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35676845-1']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>

</head>
<body>
<div class="topbar">
    <div class="name">
      <img src="/images/logo.png">
    </div>
    <div class="divider"></div>
    <div class="tag">
      reddit redefined!
    </div>
    <div class="subreddits">
      <select id="selSubreddit">
        <option value="front">front page</option>
        <option value="funny">funny</option>
        <option value="pics">pics</option>
        <option value="gifs">gifs</option>
        <option value="wtf">wtf</option>
        <option value="earthporn">earthporn</option>
        <option value="cityporn">cityporn</option>
        <option value="aww">aww</option>
        <option value="comics">comics</option>
        <option value="itookapicture">itookapicture</option>
        <option value="videos">videos</option>
        <option value="science">science</option>
        <option value="politics">politics</option>
        <option value="worldnews">worldnews</option>
        <option value="technology">technology</option>
        <option value="askreddit">askreddit</option>
        <option value="iama">iama</option>
        <option value="todayilearned">TIL</option>
      </select>
    </div>
</div>

<div class="row" style="margin: 15px 0px 0px 15px;">
  <dl class="sub-nav">
    <dt>Filter:</dt>
    <dd class="active"><a data-section="hot" href="#">hot</a></dd>
    <dd><a data-section="new" href="#">new</a></dd>
    <dd><a data-section="controversial" href="#">controversial</a></dd>
    <dd><a data-section="top" href="#">top</a></dd>
  </dl>
</div>

<div id="container">
  <%= yield %>
</div>

<div class="row display" style="text-align: center; display: block;width: 100%;clear: both;margin-top: 10px;">
  <div class="twelve columns centered">
    <a id="load-more" href="#/feed/front/hot/0" data-section="hot" class="large secondary button">Load More</a>
  </div>
</div>

<footer class="row" style="width: 100%;margin-top: 15px;background-color: #000;padding: 10px 0px 0px 0px;color: #666;">
  <div class="four columns">
    <p>A <a href="http://calistolabs.com/" target="_blank">Calisto Labs</a> creation // Built by <a href="http://jesal.us" target="_blank">Jesal Gadhia</a></p>
  </div>
  <div class="six columns" style="font-size: 12px;text-align: right;">
    This site is not owned, operated, sponsored, endorsed, or affiliated by Reddit in any way.<br>All content shown is provided by Reddit API. ruddl is merely a different interface to browse Reddit.
  </div>
</footer>

<!-- Included JS Files (Compressed) -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/2.1.04/jquery.masonry.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/URI.js/1.7.2/URI.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.rc.1/handlebars.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.1.0/jquery.timeago.min.js"></script>
<script src="//js.pusher.com/1.12/pusher.min.js"></script>
<!-- Initialize JS Plugins -->
<script id="ruddl-template" type="text/x-handlebars-template">
	<div id="{{key}}" class="box panel">
	  <div class='description'>
		<div class='description_content'>
		  <a title="Show Top Comments" class="premalink" href="{{premalink}}" data-id="{{key}}" target="_blank">{{title}}</a>
		</div>
        <div class='icon'>
          <img src="http://g.etfv.co/{{link}}" width="16" height="16" />
        </div>
	  </div>
      <div class="comments"></div>
      <div class="content">
        {{#if image}}
            <a href="{{link}}" target="_blank"><img class="lazy" src="{{image_url image}}"/></a>
        {{else}}
            {{{text}}}
        {{/if}}
      </div>
	</div>
</script>
<script id="ruddl-comment-template" type="text/x-handlebars-template">
  <div class="comment">
    <p class="tagline">
      <a target="_blank" href="http://www.reddit.com/user/{{author}}" class="author">{{author}}</a>
      <span class="points">{{points}} points</span><span class="time">{{date_format created_utc}}</span>
    </p>
    {{{body_html}}}
    <a target="_blank" class="permalink" href="{{permalink}}">permalink</a>
  </div>
</script>
<script src="/app.js"></script>
</body>
</html>

