@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('WebSymbols-Regular-webfont.eot');
    src: url('WebSymbols-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('WebSymbols-Regular-webfont.woff') format('woff'),
    url('WebSymbols-Regular-webfont.ttf') format('truetype'),
    url('WebSymbols-Regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#container {
    background: #FFF;
    padding: 5px;
    margin-bottom: 20px;
    clear: both;
}

.centered { margin: 0 auto; }

.box {
    margin: 5px;
    padding: 5px;
    font-size: 11px;
    line-height: 1.4em;
    float: left;
}

.box h2 {
    font-size: 14px;
    font-weight: 200;
}

.rtl .box {
    float: right;
    text-align: right;
    direction: rtl;
}

div.description{
    background-color:black;
    color:white;
    word-wrap: break-word;
    width: 350px;
    overflow: auto;
}

@media only screen and (min-width : 1200px) {
    /* style rules for desktops and laptops with smaller screens,
     again only added if the rules here conflict with those at the top
     of the stylesheet */
    .box img {
        display: block;
        width: 350px;
    }

    p.description_content{
        padding:10px;
        margin:0px;
        font-weight: bold;
        width: 320px;
        float: left;
    }

    .description_icons {
        font: 15px 'WebSymbolsRegular', Arial, sans-serif;
        letter-spacing: 0;
        float: left;
        color: #666;
    }
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    /* iPads, most other tablets */
    .box img {
        display: block;
        width: 250px;
    }

    p.description_content{
        padding:10px;
        margin:0px;
        font-weight: bold;
    }

    .description_icons {
        font: 15px 'WebSymbolsRegular', Arial, sans-serif;
        letter-spacing: 0;
        float: left;
        color: #666;
    }
}
@media only screen and (max-width : 480px) {
    /* most smartphones, including iPhones */
    .box img {
        display: block;
        width: 150px;
    }

    p.description_content{
        padding:10px;
        margin:0px;
        font-weight: normal;
    }

    .description_icons {
        font: 15px 'WebSymbolsRegular', Arial, sans-serif;
        letter-spacing: 0;
        float: left;
        color: #666;
    }
}
