html, body {height: 100%;}

#wrap {min-height: 100%;}

a {
    color: #0E81C2;
}

a:hover {
    color: #0E81C2;
}

dl.sub-nav dd.active a {
    background: #0E81C2;
}

.md {
    padding: 10px;
    word-wrap: break-word;
}

.comments p{
    margin: 0px;
    padding: 0px;
}

.comments .md {
    padding: 0px;
    font-size: small;
    word-wrap: break-word;
    clear: left;
}

.comment {
    margin-bottom: 10px;
}

.tagline {
    color: #888;
    font-size: x-small;
}

.author {
    float: left;    
}

.permalink {
    color: #888;
    font-size: x-small;
    font-weight: bold;
}

.points {
    color: #888;
    font-size: x-small;
    float: left;
    margin-left: 5px;
}

.time {
    color: #888;
    font-size: x-small;
    float: left;
    margin-left: 5px;
}

#container {
    position: inherit;
    background: #FFF;
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
    clear: both;
    overflow: inherit;
}

.box {
    display: none;
    margin: 5px;
    padding: 5px;
    font-size: 11px;
    line-height: 1.4em;
    float: left;
}

.box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

div.description{
    background-color:black;
    color:white;
    word-wrap: break-word;
    overflow: auto;
}

div.comments{
    display: none;
    background-color:#DDD;
    padding:10px;
    overflow: auto !important;
    word-wrap: break-word;
}

.description_content{
    float: left;
    width: 90%;
    padding:10px;
    font-weight: bold;

}

.icon {
    padding: 15px;
    position: absolute;
    right: 0;
    top: 0;
}

.content {
    min-height: 100%;
    display: block;
}

.topbar {
    position: fixed;
    top: 0;
    color: #fff;
    background: #222;
    height: 45px;
    line-height: 45px;
    padding: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 3px solid #0E81C2;
}

.topbar .name {
    float: left;
    line-height: 45px;
    height: 45px;
    font-size: 17px;
    margin: 0;
    font-weight: bold;
    color: #fff;
    display: block;
}

.topbar .name img {
    padding: 3px;
}

.topbar .tag {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    color: #CCC;
}

@media (min-width:500px) {
    .mobile {
        display: none !important;
    }

    .web {
        display: inline !important;
    }
}

@media (max-width:499px) {
    .mobile {
        display: inline !important;
    }

    .web {
        display: none !important;
    }
}

.topbar .divider {
    float: left;
    background: #000;
    -webkit-box-shadow: 1px 0 0 rgba(255,255,255,0.1);
    -moz-box-shadow: 1px 0 0 rgba(255,255,255,0.1);
    box-shadow: 1px 0 0 rgba(255,255,255,0.1);
    height: 100%;
    margin-right: 1px;
    width: 1px;
}

.topbar .subreddits {
    color: #CCCCCC;
    padding-left: 10px;
    padding-right: 10px;
    float: right !important;
}

/**** Transitions ****/

.masonry,
.masonry .masonry-brick {
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

.masonry {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.masonry .masonry-brick {
    -webkit-transition-property: left, right, top;
    -moz-transition-property: left, right, top;
    -ms-transition-property: left, right, top;
    -o-transition-property: left, right, top;
    transition-property: left, right, top;
}

.ui-pnotify.stack-bottomright {
    /* These are just CSS default values to reset the pnotify CSS. */
    right: auto;
    top: auto;
}

.ui-pnotify.custom .ui-pnotify-container {
    background-color: #0E81C2 !important;
    background-image: none !important;
    border: none !important;
}
.ui-pnotify.custom .ui-pnotify-title, .ui-pnotify.custom .ui-pnotify-text {
    color: #FFF !important;
    line-height: 1 !important;
    text-rendering: geometricPrecision !important;
}
.ui-pnotify.custom .ui-pnotify-title {
    font-weight: bold;
}
