#container {
    background: #FFF;
    padding: 5px;
    margin-bottom: 20px;
    clear: both;
}

.centered { margin: 0 auto; }

.box {
    margin: 5px;
    padding: 5px;
    font-size: 11px;
    line-height: 1.4em;
    float: left;
}

.box h2 {
    font-size: 14px;
    font-weight: 200;
}

.rtl .box {
    float: right;
    text-align: right;
    direction: rtl;
}

div.description{
    background-color:black;
    color:white;
    word-wrap: break-word;
    width: 350px;
}

@media only screen and (min-width : 1200px) {
    /* style rules for desktops and laptops with smaller screens,
     again only added if the rules here conflict with those at the top
     of the stylesheet */
    .box img {
        display: block;
        width: 350px;
    }

    p.description_content{
        padding:10px;
        margin:0px;
        font-weight: bold;
    }
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    /* iPads, most other tablets */
    .box img {
        display: block;
        width: 250px;
    }

    p.description_content{
        padding:10px;
        margin:0px;
        font-weight: bold;
    }
}
@media only screen and (max-width : 480px) {
    /* most smartphones, including iPhones */
    .box img {
        display: block;
        width: 150px;
    }

    p.description_content{
        padding:10px;
        margin:0px;
        font-weight: normal;
    }
}
