<div class="row">
	<div class="span4">
		<h3>What's the purpose of ruddl?</h3>
		<p>ruddl came about out of the desire to de-clutter and simplify all the information out there into one simple stream of information.</p>
	</div>

	<div class="span4">
		<h3>What's with the name?</h3>
		<p>ruddl is named after the verb ruddle which means to twist or braid together, interlace something together. In this case, information.</p>
	</div>

	<div class="span4">
		<h3>What kind of information can I ruddl?</h3>
		<p>Right now we only let you ruddl your Twitter and Facebook streams but more services are coming soon. Stay tuned!</p>
	</div>
</div>