<div class="hero-unit">
	<h1>Lets start, ruddl'in!</h1>
	<p>Bring all the different information streams from your life into one ruddl!</p>
	<p><a class="btn btn-primary btn-large">Sign up</a></p>
</div>

<% var items = ['facebook','twitter'] %>
<% if (!everyauth.loggedIn) { %>
	<h1>Please sign-in</h1>
	 <% for (var i in items) { %>
		 Connect with <a href="/auth/<%=items[i]%>"><%=items[i]%></a><br />
	 <% } %>
 <% } else { %>
 	<h1>Welcome!</h1>
 	 <% if(everyauth.twitter) { %>
 	 	You have logged into twitter!
 	 <% } %>
 	 <br />
 	 <% if(everyauth.facebook) { %>
 	 	You have logged into facebook!
 	 <% } %>
 <% } %>