<div class="hero-unit">
    <h1>Let's get ruddl'in!</h1>
    <p>ruddl lets you combine all the different social/information feeds into one easy-to-follow stream of information.</p>
    <br/>
    <p><a href="<%= sign_up_path  %>" class="btn btn-primary btn-large">Signup »</a></p>
</div>